p {
  text-align: justify;
}

h1 {
  font-weight: bolder;
  margin-bottom: 0px;
}



[data-md-color-scheme="shipgo"] {
    --md-primary-fg-color: #004D40;
    --md-accent-fg-color: #004D40;
}